.todo-button {
    font-weight: bolder;
}

.todoTask {
    border: 1px solid black;
}

.todoBox {
    background-color: white;
    width: 50%;
    border: 10px solid lightblue;
    border-radius: .5rem;
    margin: auto;
    padding: 1rem;
}

body {
    text-align: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-decoration: underline;
}

ul {
    padding-inline-start: 0px;
    margin: 0;
}

div.todo {
    display: flex;
}

div.todoTask {
    width: 100%
}

form {
    display: flex;
}

input {
    width: 100%;
}

.completed {
    text-decoration: line-through;
    background-color: #888;
}

.list  {
    width: 100%;
}

.filter {
    display: flex;
}

button {
    background: lightblue;
}

